.header {
	font-family: var(--brand-font);
	font-size: 1.65em;
	letter-spacing: 0.15ch;
	padding: 0.4rem 0.6em;
	background-color: var(--brand-color);
	color: var(--color-light);
	display: flex;
	gap: 1rem;
	align-items: center;
	justify-content: space-between;
	border-bottom-right-radius: var(--border-radius-main);
	border-bottom-left-radius: var(--border-radius-main);
	border-bottom: 2px solid rgb(185, 185, 185);
	border-left: 2px solid rgb(185, 185, 185);
	border-right: 2px solid rgb(185, 185, 185);
}

.profileImgContainer {
	cursor: pointer;
	position: relative;
	width: 35px;
	border-radius: 50%;
	overflow: hidden;
	aspect-ratio: 1/1;
}

.leftLinks {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 0.5em;
}

.headerBtn {
	background-color: transparent;
	color: var(--bg-grey-400);
}

.headerBtn:hover {
	color: var(--brand-color-hover);
}

.logoContainer {
	position: absolute;
	cursor: pointer;
	left: 50%;
	top: 0;
	translate: -50%;
	width: 60px;
	aspect-ratio: 1/1;
}

@media (max-width: 350px) {
	.leftLinks {
		flex-direction: column;
	}
}

@media (min-width: 700px) {
	.logoContainer {
		width: 75px;
	}
	.header {
		outline: 5px dashed var(--brand-color);
		padding: 1rem 0.6em;
	}
}
