.wrapper {
	display: grid;
	width: clamp(200px, 75vw, 80%);
	min-height: 22.5rem;
	padding-block: 8rem;
	place-items: center;
	border-radius: var(--border-radius-main);
}

@keyframes spinner {
	from {
		rotate: 0deg;
	}
	to {
		rotate: 360deg;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 100;
	}
}

.loading {
	animation-name: spinner;
	animation-timing-function: linear;
	animation-duration: 500ms;
	animation-iteration-count: infinite;
}

.bannerContainer {
	--animation-delay: 400ms;
	text-align: center;
}

.successBanner {
	font-size: 1.3rem;
	font-family: var(--main-font);
	animation-name: fadeIn;
	animation-timing-function: linear;
	animation-duration: var(--animation-delay);
}

.checkmark {
	animation-name: fadeIn;
	animation-timing-function: linear;
	animation-duration: 200ms;
	animation-delay: 200ms;
	font-size: 2rem;
}

.closeBtn {
	width: auto;
	height: auto;
	background-color: transparent;
}
