.mainContainer {
	width: 100%;
	--inner-padding: 0.8em;
	--bg-color: var(--bg-color-main);
}

.imagePost {
	width: 100%;
	display: flex;
	flex-direction: column;
	background-color: var(--bg-color);
	padding: 0.8em;
	border-top-left-radius: var(--border-radius-main);
	border-top-right-radius: var(--border-radius-main);
}
.sidebar {
	width: 100%;
	background-color: var(--bg-color);
	padding: var(--inner-padding);
	border-bottom-left-radius: var(--border-radius-main);
	border-bottom-right-radius: var(--border-radius-main);
}

.profileBar {
	display: flex;
	align-items: center;
	border-bottom: 1px solid var(--brand-color-hover);
	padding-bottom: 0.75em;
	margin-bottom: 1em;
	gap: 0.6rem;
}

.profileImageContainer {
	font-size: 2rem;
	height: min-content;
}

.userNameContainer {
	display: flex;
	flex-direction: column;
	gap: 0.2rem;
	font-size: 0.8em;
	padding-bottom: 0.5em;
}

.userNameContainer a {
	margin: 0;
}
.userNameContainer a:last-child {
	font-size: 0.65em;
}

.imageContainer {
	position: relative;
	border-radius: var(--border-radius-main);
	overflow: hidden;
}

.tagContainer {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	gap: 0.3em;
	font-size: 0.8em;
	margin-bottom: 0.4em;
}

.imageTag {
	margin-block: 0;
	margin-bottom: 0.4em;
}

.imageTag:hover {
	color: var(--brand-color);
}

.commentLink {
	font-size: 0.8em;
	color: var(--bg-grey-400);
}

.commentsContainer {
	max-height: 35vh;
	overflow-y: scroll;
	overflow-x: hidden;
	margin-bottom: 0.8em;
}

.imageDate {
	font-size: 0.7em;
	margin-top: auto;
}

/* COMMENT */
/* COMMENT */
/* COMMENT */

.commentWrapper {
	--main-fs: clamp(10px, 1.2vw, 0.7em);

	display: grid;
	grid-template-columns: 25px 1fr 1fr;
	row-gap: 0.4em;
	margin-block: 0.5em;
}

.commentProfileImage {
	align-self: center;
}

.commentHeader {
	display: flex;
	gap: 0.5em;
	align-items: center;
	font-size: var(--main-fs);
}

.commentUser {
	display: flex;
	flex-direction: column;
}

.commentUsername {
	font-size: calc(var(--main-fs) - 0.5px);
	color: rgb(168, 168, 168);
}

.commentText {
	font-size: var(--main-fs);
	grid-column: 2/3;
	margin: 0;
}

.commentButtons {
	display: flex;
	justify-self: right;
	grid-column: 3/4;
	grid-row: 1/3;
	gap: 0.7em;
	margin-bottom: 0.3em;
	margin-right: 1em;
}

.commentButton {
	background-color: transparent;
	color: var(--bg-grey-400);
	padding: 0;
	font-size: 1.5em;
}
.commentButton:hover {
	color: var(--brand-color-hover);
}

@media (min-width: 700px) {
	.commentsContainer {
		max-height: 20vh;
	}

	.commentWrapper {
		grid-template-columns: 25px 1fr;
	}
	.commentButtons {
		gap: 1.5em;
		grid-column: 2/3;
		grid-row: 3/4;
		justify-self: left;
		margin-right: 0.8em;
	}
	.commentButton {
		font-size: 1.25em;
		margin-top: 0.4em;
	}
	.mainContainer {
		display: grid;
		gap: 1em;
		grid-template-columns: minmax(100px, 500px) minmax(150px, 1fr);
	}
	.imagePost {
		width: clamp(100px, 100%, 500px);
		border-radius: var(--border-radius-main);
	}
	.sidebar {
		border-radius: var(--border-radius-main);
	}
}

@media (min-width: 1200px) {
	.commentWrapper {
		grid-template-columns: 25px 1fr 25px;
	}

	.commentsContainer {
		max-height: 30vh;
	}

	.commentButtons {
		flex-direction: column;
		gap: 0.2em;
		grid-column: 3/4;
		grid-row: 1/3;
		justify-self: right;
		opacity: 0;
	}
	.commentWrapper:hover .commentButtons {
		opacity: 1;
	}
	.commentButton {
		font-size: inherit;
	}
}

@media (max-width: 300px) {
	.commentWrapper {
		grid-template-columns: 25px 1fr;
	}
	.commentButtons {
		gap: 1.5em;
		grid-column: 2/3;
		grid-row: 3/4;
		justify-self: left;
	}
	.commentButton {
		font-size: 1em;
	}
}
