.profileMain {
	min-height: 24rem;

	display: grid;
	grid-template-columns: 50px 1fr;
	column-gap: 1rem;
	color: var(--text-color-400);
	grid-template-rows: repeat(3, min-content);
	border-bottom: 5px dashed var(--brand-color);
	border-bottom-left-radius: var(--border-radius-main);
	border-bottom-right-radius: var(--border-radius-main);
}

.inputRow {
	max-width: 80%;
}

/* ProfileInput */

.inputContainer {
	display: flex;
	flex-direction: column;
}

.inputLabel {
	color: var(--text-color-contrast);
	text-transform: capitalize;
	font-size: 0.65em;
	margin-bottom: 0.4em;
}

.claimProfile {
	padding: 0.2em 0.75em;
}

.profileInput {
	color: black;
	font-family: var(--main-font);

	border: 2px solid var(--brand-color);
	border-radius: var(--border-radius-main);
	padding: 0.4em 0.3em;
}

.profileInput::placeholder {
	color: black;
	text-transform: capitalize;
	font-size: 0.8em;
}
.profileInput:focus {
	outline: none;
	outline-width: 1px;
	outline-style: solid;
	outline-color: var(--brand-color-hover);
}

.errorOutput {
	color: var(--text-color-400);
	font-size: 0.5em;
	margin-block: 0.2em;
	min-height: 10px;
}

.profileImgContainer {
	height: 50px;
	width: 50px;
	border-radius: 50%;
	overflow: hidden;
	aspect-ratio: 1/1;
}

/* UPDATE FORM */

.formContainer {
	min-height: 0rem;
	transition: min-height 200ms linear;
}

.formContainer[data-height='true'] {
	min-height: 15.9375rem;
}

.updateProfileForm {
	grid-column: 2/3;
	gap: 0.3em;
}

.profileName {
	margin: 0;
	font-size: 1.1rem;
	font-family: var(--main-font);
}

.profileUsername {
	margin: 0;
	font-size: 0.7em;
	font-family: var(--main-font);
}

/* ProfileButtons */

.profileButtons {
	grid-column: 2/3;
	display: flex;
	gap: 0.3em;
	margin-block: 0.5em;
}

.followBtn {
	display: flex;
	align-items: center;
	gap: 0.2em;
	color: var(--text-color-400);
}

/* StatusBoxes */

.statBoxes {
	grid-column: 2/3;

	display: flex;
	gap: 0.4em;
	width: 100%;
}

.statBox {
	color: var(--text-color-400);

	border-block: 1px solid var(--bg-grey-400);
	text-align: center;
	padding-block: 0.5em;
	font-size: 0.8em;
	font-family: var(--main-font);
	min-width: 60px;
	aspect-ratio: 1/1;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.statBox p {
	margin: 0;
	margin-bottom: 0.5em;
}

@media (min-width: 560px) {
	.profileMain {
		min-height: 16rem;
	}
	.inputRow {
		max-width: 50%;
		display: flex;
	}
	.formContainer[data-height='true'] {
		min-height: 8.125rem;
	}
}

@media (min-width: 1200px) {
	.updateProfileForm {
		flex-direction: row;
	}
}
