.profile {
	padding: 1.4rem;
}

.topBit {
	display: flex;
	gap: 1rem;
}

.profileDetails {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.inputContainer {
	display: flex;
	flex-direction: column;
}

.profileInput {
	border-radius: 5px;
	border: 0;
	padding: 0.4em 0.3em;
}

.profileInput:focus {
	outline: none;
	outline-width: 3px;
	outline-style: solid;
	outline-color: var(--brand-color);
}

.inputLabel {
	font-size: 0.65em;
	margin-bottom: 0.4em;
}

.profileImgContainer {
	height: 50px;
	width: 50px;
	border-radius: 50%;
	overflow: hidden;
	aspect-ratio: 1/1;
}

.profileInfo {
	display: flex;
	flex-direction: column;
	gap: 0.3em;
}

.topInfo {
	display: flex;
	flex-direction: column;
	gap: 0.3em;
	min-height: 0px;
	transition: min-height 300ms ease-in;
	width: fit-content;
}

.profileName {
	margin: 0;
	font-size: 1.1rem;
	font-family: var(--main-font);
}

.profileUsername {
	margin: 0;
	font-size: 0.7em;
	font-family: var(--main-font);
}

.profileButtons {
	display: flex;
	gap: 0.3em;
}

.errorOutput {
	font-size: 0.5em;
	margin-block: 0.2em;
	min-height: 10px;
}

.statBoxes {
	display: flex;
	gap: 0.4em;
	width: 100%;
	margin-top: 0.8em;
	margin-left: 65px;
}

.statBox {
	border-block: 1px solid var(--bg-grey-400);
	text-align: center;
	padding-block: 0.5em;
	font-size: 0.8em;
	font-family: var(--main-font);
	min-width: 60px;
	aspect-ratio: 1/1;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.statBox p {
	margin: 0;
	margin-bottom: 0.5em;
}

@media (max-width: 560px) {
	.profileDetails {
		flex-direction: column;
	}

	.statBoxes {
		margin-left: 50px;
	}
}
