.imagesGrid {
	--grid-gap: 0.5em;
	display: grid;
	grid-template-columns: repeat(4, 24.25%);
	gap: 1%;
}

.imageLink {
	margin-block: auto;
	margin-top: 2rem;
	color: var(--brand-color);
	font-size: 2em;
}

.thumbnailContainer {
	width: 100%;
	position: relative;
	cursor: pointer;
}

.thumbnailContainer:hover .overlay {
	display: flex;
	opacity: 1;
}

.overlay {
	color: var(--text-color-400);
	display: none;
	transition: opacity 100ms ease-in;
	opacity: 0;
	position: absolute;
	height: 100%;
	width: 100%;
	inset: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.statsOverlay {
	width: 100%;
	bottom: 0;
	padding-inline: 0.1em;
	display: flex;
	justify-content: space-between;
	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0));
	padding-block: 0.3em;
	margin-top: auto;
}

.likesContainer {
	display: flex;
	gap: 0.2em;
	align-items: center;
}

.commentsContainer {
	display: flex;
	gap: 0.4em;
	align-items: center;
}

.ratioInfo {
	margin: 0;
	font-size: 0.75em;
}

@media (max-width: 400px) {
	.imagesGrid {
		--grid-gap: 0.5em;
		display: grid;
		grid-template-columns: repeat(2, calc(50% - var(--grid-gap)));
		gap: 0rem;
	}
}
