.imagePost {
	display: flex;
	flex-direction: column;
	border: 1px solid white;
	padding: 0.8em;
	margin-bottom: 2.5rem;
	border-radius: var(--border-radius-main);
}

.profileBar {
	display: flex;
	align-items: center;
	border-bottom: 1px solid var(--brand-color-hover);
	margin-bottom: 0.5em;
	gap: 0.6rem;
}

.profileImageContainer {
	font-size: 2rem;
	height: min-content;
}

.userNameContainer {
	display: flex;
	flex-direction: column;
	gap: 0.2rem;
	font-size: 0.8em;
	padding-bottom: 0.5em;
}

.userNameContainer p {
	margin: 0;
}
.userNameContainer p:last-child {
	font-size: 0.65em;
}

.imageContainer {
	position: relative;
	border-radius: var(--border-radius-main);
	overflow: hidden;
}

.tagContainer {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	gap: 0.3em;
	font-size: 0.8em;
	margin-bottom: 0.4em;
}

.imageTag {
	margin-block: 0;
	margin-bottom: 0.4em;
}

.imageTag:hover {
	color: var(--brand-color);
}

.commentLink {
	font-size: 0.8em;
	color: var(--bg-grey-400);
}

.imageDate {
	font-size: 0.7em;
}

/* IMAGE BUTTONS */
/* IMAGE BUTTONS */
/* IMAGE BUTTONS */

.imageButtonMain {
	margin-top: 0.7em;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.buttonSeparators {
	padding: 0.2em;
}

.imageButtons {
	margin-top: 0.7em;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: left;
}

.imageButton {
	font-size: 1.8em;
	background-color: transparent;
	color: white;
}

.imageButton:hover {
	color: var(--brand-color-hover);
}

.commentForm {
	display: flex;
	width: 100%;
}

.commentInput {
	width: 100%;
}

.commentInput input {
	width: 100%;
	padding: 0.5em;
	border: none;
	border-top-left-radius: var(--border-radius-main);
	border-bottom-left-radius: var(--border-radius-main);
}

.submitCommentButton {
	border-top-left-radius: 0px;
	border-top-right-radius: var(--border-radius-main);
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: var(--border-radius-main);
	background-color: var(--brand-color);
	color: var(--bg-grey-400);
}

.submitCommentButton:hover {
	background-color: var(--brand-color-hover);
}

@media (min-width: 700px) {
	.imageButtonMain {
		height: clamp(200px, 350px, 370px);
	}
}
