.imagePost {
	display: flex;
	flex-direction: column;
	padding: 0.4em;

	/* border: 1px solid white; */
	margin-bottom: 2.5rem;
	border-radius: var(--border-radius-main);
	background-color: var(--bg-color-main);
}

.profileBar {
	display: flex;
	align-items: center;
	border-bottom: 1px solid var(--brand-color-hover);
	margin-bottom: 0.5em;
	gap: 0.6rem;
	color: var(--text-color-400);
}

.profileImageContainer {
	font-size: 2rem;
	height: min-content;
}

.userNameContainer {
	display: flex;
	flex-direction: column;
	gap: 0.2rem;
	font-size: 0.8em;
	padding-bottom: 0.5em;
}

.userNameContainer p {
	margin: 0;
}
.userNameContainer p:last-child {
	font-size: 0.65em;
}

.imageContainer {
	position: relative;
	border-radius: var(--border-radius-main);
	overflow: hidden;
	cursor: pointer;
}

.tagContainer {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	gap: 0.3em;
	font-size: 0.8em;
	margin-bottom: 0.4em;
}

.caption {
	font-size: 0.7em;
	max-height: 100px;
	overflow-y: scroll;
	color: var(--text-color-400);
}

.imageTag {
	margin-block: 0;
	margin-bottom: 0.4em;
	word-wrap: break-word;
	color: var(--text-color-400);
}

.commentLink {
	font-size: 0.8em;
	color: var(--bg-grey-400);
}

.imageDate {
	font-size: 0.7em;
	color: var(--text-color-400);
}

/* IMAGE BUTTONS */
/* IMAGE BUTTONS */
/* IMAGE BUTTONS */

.imageButtonsMain {
	margin-top: 0.3em;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: min-content 1fr min-content;
	flex-grow: 1;
}

.buttonSeparators {
	grid-row: 1/-1;
	padding: 0.2em;
}
.buttonSeparators:last-child {
	justify-self: flex-end;
}

.imageButtons {
	margin-top: 0.7em;
	margin-bottom: auto;

	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: left;
}

.imageButton {
	font-size: 1.8em;
	background-color: transparent;
	color: var(--text-color-400);
}
.imageButtonClicked {
	font-size: 1.8em;
	background-color: transparent;
	color: var(--brand-color-hover);
}

.childrenContainer {
	font-size: 0.75em;
}

.commentForm {
	display: flex;
	width: 100%;
	justify-self: flex-end;
	margin-top: auto;
}

.commentInput {
	width: 100%;
}

.commentInput input {
	width: 100%;
	color: black;
	padding: 0.5em;
	border: none;
	border-top-left-radius: var(--border-radius-main);
	border-bottom-left-radius: var(--border-radius-main);
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}

.commentInput input:focus {
	outline-offset: -2px;
	outline: 2px solid var(--brand-color-hover);
}

.submitCommentButton {
	border-top-left-radius: 0px;
	border-top-right-radius: var(--border-radius-main);
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: var(--border-radius-main);
	background-color: var(--brand-color-hover);
	color: var(--text-color-400);
	height: fit-content;
	padding: 0.5em;
}

@media (min-width: 700px) {
	.imagePost {
		border: 1px solid white;
		padding: 0.8em;
	}
	.imageButtonMain {
		height: clamp(200px, 350px, 370px);
	}
}

@media (min-width: 1200px) {
	.imageButton:hover {
		color: var(--brand-color-hover);
	}
	.submitCommentButton:hover {
		background-color: var(--brand-color-hover);
	}
	.imageTag:hover {
		color: var(--brand-color-hover);
	}
}
