:root {
	--main-font: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	--border-radius-main: 7px;

	/* COLORS */
	--text-color-400: #ede5e5;
	--brand-color: rgb(43, 150, 43);
	--brand-color-hover: rgb(60, 173, 60);
	--bg-grey-400: #cccccc;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

button {
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
	body {
		color: white;
		background: black;
	}
}
