@font-face {
	font-family: 'IndieStar';
	font-style: normal;
	font-weight: 400;
	src: local('/fonts/IndieStarBB.woff'),
		url('/fonts/IndieStarBB.woff') format('woff');
}

:root {
	--main-font: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	--brand-font: 'IndieStar', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
		Oxygen;
	--border-radius-main: 7px;

	/* COLORS */
	--bg-grey-400: #cccccc;
	--bg-color-main: var(--brand-color);
	--text-color-400: #fdfdfd;
	--contrast-color: #1d1c1c;
	--text-color-contrast: var(--contrast-color);
	--brand-color: #3c83d0;
	--brand-color-hover: hsl(211, 70%, 40%);
	--scrollbar-head-color: hsl(211, 97%, 27%);
	--scrollbar-head-hover: rgb(200, 200, 200);
	--scrollbar-background: var(--brand-color);
	--scrollbar-background-hover: var(--brand-color-hover);
}

/* SCROLLBAR */

/* Firefox */
* {
	scrollbar-width: thin;
	scrollbar-color: var(--scrollbar-head-color) var(--scrollbar-background);
	scrollbar-gutter: auto;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
	width: 5px;
	width: 5px;
	cursor: grab;
}
*::-webkit-scrollbar-track {
	border-radius: 7px;
	background-color: var(--scrollbar-background);
}

*::-webkit-scrollbar-track:hover {
	background-color: var(--scrollbar-background-hover);
}

*::-webkit-scrollbar-track:active {
	background-color: var(--scrollbar-background-hover);
}

*::-webkit-scrollbar-thumb {
	border-radius: var(--border-radius-main);
	background-color: var(--scrollbar-head-color);
}

*::-webkit-scrollbar-thumb:hover {
	background-color: var(--scrollbar-head-color);
}

*::-webkit-scrollbar-thumb:active {
	background-color: #62a34b;
}
/* END OF SCROLLBAR */

html,
body {
	color: rgb(246, 243, 243);
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	background: #e0edfb;
}

button {
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-family: var(--brand-font);
	font-size: 1.1em;
}

a {
	color: inherit;
	text-decoration: none;
}

input,
textarea {
	background-color: white;
	border: none;
}

* {
	box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
	:root {
		--brand-color: #252e27;
		--brand-color-hover: hsl(133, 11%, 8%);
		--text-color-400: #ede5e5;
		--text-color-contrast: var(--text-color-400);
		--scrollbar-head-color: #2b962b;
		--scrollbar-head-hover: #3cad3c;
	}
	html {
		color-scheme: dark;
		background: rgb(16, 16, 16);
	}
	body {
		background: rgb(16, 16, 16);
		color: white;
	}
}
