:root {
	--main-font: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	--border-radius-main: 7px;

	/* COLORS */
	--text-color-400: #ede5e5;
	--brand-color: #2b962b;
	--brand-color-hover: #3cad3c;
	--bg-grey-400: #cccccc;
	--bg-color-main: rgb(37, 46, 39);
}

/* SCROLLBAR */

/* Firefox */
* {
	scrollbar-width: thin;
	scrollbar-color: #2b962b var(--bg-color-main);
	scrollbar-gutter: auto;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
	width: 5px;
	width: 5px;
}
*::-webkit-scrollbar-track {
	border-radius: 7px;
	background-color: var(--bg-color-main);
}

*::-webkit-scrollbar-track:hover {
	background-color: #1b1a1a;
}

*::-webkit-scrollbar-track:active {
	background-color: #1b1a1a;
}

*::-webkit-scrollbar-thumb {
	border-radius: var(--border-radius-main);
	background-color: #2b962b;
}

*::-webkit-scrollbar-thumb:hover {
	background-color: #3cad3c;
}

*::-webkit-scrollbar-thumb:active {
	background-color: #62a34b;
}
/* END OF SCROLLBAR */

html,
body {
	color: white;

	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

button {
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
	:root {
		--bg-color-main: rgb(31, 30, 30);
	}
	html {
		color-scheme: dark;
	}
	body {
		color: white;
		background: black;
	}
}
