.container {
	padding: 0 2rem;
}

.imagePost {
	display: flex;
	flex-direction: column;
	border: 1px solid black;
	padding: 0.8em;
	margin-bottom: 2.5rem;
}

.imageContainer {
	margin-top: 2rem;
	width: clamp(100px, 90vw, 500px);
}
